h1{
  margin: 0px;
  padding: 10px 0 10px 0;
}
div{
}
a{
  color : Green;
  text-decoration: none;
}
.left_space{
  padding-left:20px;
}
img{
  margin:0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#night_mode{
  margin-left: auto;
  margin-right: 0;
}
#night_botton{
  display: grid;
  height: 50%;
  width: 100%;
}
.horizon{
  display: grid;
  grid-template-columns: 30% 70%;
}
.outline{
  border-left: solid gray;
  border-right: solid gray;
  border-top: solid gray;
}
#img_outline{
  border-left: 2px solid gray;
}
.outline ul{
  padding: 0;
}
ul{
  margin: 0;
  padding: 0;
}
.list{
  list-style: none;
  padding: 0 25px 0 25px;
  border: 10px coral solid;
}
/*
.list_text{
  background-color: black;
}
*/
.active{
  color:red;
  text-decoration: underline;
  box-sizing:
}
#home_menu{
  display: inline-grid;
  padding-left:20px
}

@media(max-width:800px){
  .horizon{
    display: block;
  }
  li{
    font
  }
  #text_align_small{
    text-align: center;
  }
}
